/* General body styling */
body {
    font-family: Arial, sans-serif;
    background-image: url("images.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 20px;
}

/* Container styling */
.container {
    max-width: 700px;
    margin: auto;
    background-color: white;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 70px;
}

/* Header styling */
h1 {
    text-align:center;
    color:rgb(29, 27, 27);
}

/* Navbar styling */
.navbar {
    display: flex;
    justify-content: right;
    margin-bottom: 40px;
    
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar ul li {
    display: inline;
    margin-right: 20px;
}

.navbar ul li a {
    text-decoration: none;
    color: #007bff;
    font-size: 20px;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navbar ul li a:hover {
    background-color: #e7e7e7;
}

/* Form styling */
form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

input, select, button {
    margin: 10px 0;
    padding: 12px;
    font-size: 16px;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #218838;
}

/* Table styling */
.table-container {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}
button:hover {
    background-color: #218838;
}
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #007bff;
    color: white;
}

td .actions button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}

td .actions button.delete-btn {
    background-color: #dc3545;
}

td .actions button:hover {
    opacity: 0.9;
}
